[Desktop Entry]
Type=Application
Name=Axolotl-Server
GenericName=Signal Chat Client
Path=/usr/share/axolotl
Exec=axolotl -e server
Icon=axolotl
Terminal=false
Categories=Network;Chat;InstantMessaging
StartupWMClass=axolotl
NoDisplay=false
X-KDE-FormFactor=desktop;tablet;handset;
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-UsesNotifications=true
